.card {
  border: 1px solid #dcdcdd;
  border-radius: 10px;
  margin: 15px 32px;
}

.card h2 {
  padding: 7px 5px;
}

.card span {
  display: block;
  color: grey;
  padding-bottom: 8px;
}

.card div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
}

.card div a {
  background-color: #28a745;
  color: white;
  padding: 5px 25px;
  border-radius: 7px;
  border: 0;
  font-size: 1.1rem;
}

.card div p {
  color: #009eca;
  font-size: 1.3rem;
  margin-left: 4px;
}
