.sidebar ul {
  list-style: none;
  padding: 10px;
  border: 1px solid gray;
  border-radius: 15px;
  width: 350px;
}

.sidebar li {
  width: 100%;
  margin: 10px 0;
  margin-bottom: 5px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 10px;
  transition: all 0.4s;
}

.sidebar li p {
  padding: 15px 10px;
}

.sidebar li:hover {
  background-color: gainsboro;
  transform: translateX(-3px);
}

.sidebar a {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 8px;
}

.active {
  background-color: #3ed461;
  color: white;
  font-weight: 600;
}

/* for small scrren  */

.sidebarSmallScreen {
  margin: 30px 0;
  display: none;
  align-items: center;
  justify-content: center;
}

.sidebarSmallScreen ul {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: auto;
  padding: 10px;
  gap: 10px 15px;
  list-style: none;
}

.sidebarSmallScreen ul li a {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 1.2rem;
  border-bottom: 1px solid gray;
  padding: 5px;
}

.activeSm {
  border-bottom: 2px solid #3ed461;
}

@media screen and (max-width: 837px) {
  .sidebar {
    display: none;
  }
  .sidebarSmallScreen {
    display: flex;
  }
}

@media screen and (max-width: 400px) {
  .sidebarSmallScreen ul li a {
    font-size: 1rem;
  }
}
