.searchBar {
  margin-top: 50px;
}

.largeScreen {
  display: flex;
  align-items: center;
  margin-top: 50px;
  border: 1px solid gray;
  border-radius: 12px;
  padding: 15px;
}

.searchBar h2 {
  text-align: center;
}

.searchBar h2 span {
  color: #28a745;
}

.underline {
  width: 1px;
  height: 50px;
  margin: 0 10px;
  background-color: gray;
}

.largeScreen select,
.largeScreen input {
  width: 200px;
  font-size: 1.1rem;
  margin: 0 12px;
  border: none;
  outline: none;
}

.searchBtn {
  font-size: 1.1rem;
  border: none;
  outline: none;
  width: 200px;
  padding: 10px;
  background-color: #28a745;
  color: white;
  border-radius: 12px;
  cursor: pointer;
}

.smallScreen {
  margin-top: 50px;
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.smallScreen > div:first-child {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.smallScreen select {
  width: 200px;
  height: 40px;
  font-size: 1.1rem;
  margin: 0 12px;
  border: none;
  outline: none;
  padding: 7px 15px;
  border: 1px solid gray;
  border-radius: 10px;
}

.smallScreen input {
  width: 420px;
  padding: 7px 15px;
  height: 40px;
}

.smallScreen > button:last-child {
  display: block;
  margin-top: 15px;
  width: 100%;
}

@media screen and (max-width: 924px) {
  .largeScreen {
    display: none;
  }
  .smallScreen {
    display: flex;
  }
}

@media screen and (max-width: 474px) {
  .smallScreen select {
    width: 120px;
  }
  .smallScreen input {
    width: 280px;
  }
  .smallScreen > button:last-child {
    width: 80%;
  }
}

@media screen and (max-width: 350px) {
  .smallScreen select {
    width: 100px;
  }
  .smallScreen input {
    width: 250px;
  }
  .smallScreen > button:last-child {
    width: 60%;
  }
}
