.container {
  background-color: white;
  max-width: 1000px;
  min-height: 250px;
  padding: 20px;
  border-radius: 12px;
  border: 1px solid gray;
}

.container > div:first-child {
  display: flex;
  align-items: center;
  gap: 10px;
}

.container form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 50px;
}

.container form > div {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 15px 0;
}

.container form input,
.container form select {
  width: 300px;
  height: 50px;
  padding: 13px 15px;
  border: 1px solid gray;
  border-radius: 7px;
  outline: none;
  font-size: 1.1rem;
}

.container form input::placeholder {
  text-align: start;
}

.error {
  height: 30px;
  text-align: center;
  color: red;
  font-size: 1.1rem;
}

.smallScreen {
  display: none !important;
}

@media screen and (max-width: 693px) {
  .container form input,
  .container form select {
    width: 100%;
  }
  .container form > div {
    min-width: 96%;
  }
  .largeScreen {
    display: none !important;
  }
  .smallScreen {
    display: block !important;
  }
  .smallScreen > div {
    min-width: 96%;
  }
}
